<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/list.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Siswa</title>
</head>

<body>
    <div class="judul">
        <h1>JSON CRUD (Create,Read,Update,Delete)</h1>
    </div>
    <div class="add">
        <a href="/add" class="create">Create</a>
    </div>
    <table>
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Birth Date</th>
            <th>Is Married</th>
            <th>action</th>
        </tr>
        <% data.forEach((item,index)=>{%>
            <tr class="body">
                <td>
                    <%= index + 1 %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.height %>
                </td>
                <td>
                    <%= item.weight %>
                </td>
                <td>
                    <%= item.birthdate %>
                </td>
                <td>
                    <%= item.married %>
                </td>
                <td>
                    <a href="/update/<%=index%>">
                        Update
                    </a>
                    <a href='/delete/<%=index%>' onclick="return notifikasi('<%=item.name%>')">
                        Delete
                    </a>
                </td>
            </tr>
            <% }) %>
    </table>
    <script>
        function notifikasi(item) {
            const jawab = confirm(`apakah kamu yakin akan menghapus data '${item}'?`)
            if (jawab) {
                return true
            } else {
                return false
            }
        }
    </script>
</body>


</html>